{% extends "account/base.html" %}
{% load static %}
{% load i18n %}
{% load account socialaccount %}

{% block head_title %}{% trans "Sign In" %}{% endblock %}

{% block content %}
<link rel="stylesheet" href="{% static 'base/styles/login.css'%}">


{% get_providers as socialaccount_providers %}

{% if socialaccount_providers %}


<div class="socialaccount_ballot">

  
    <button class="button-5" role="button">{% include "socialaccount/snippets/provider_list.html" with process="login" %}</button>
  

  

</div>

{% include "socialaccount/snippets/login_extra.html" %}


{% endif %}



{% endblock %}
