{% load static %}
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="{% static 'base/styles/experiences.css' %}" />

    <title>Document</title>
  </head>
  <body>
    <h1>Interview Experiences</h1>
    <div class="home-container">
      <div class="Browse-Topics">
        <h1>Browse Topics</h1>
        <br />
        <form action="{% url 'experiences' %}">
          <div class="searchBox">
            <input
              class="searchInput"
              type="text"
              name="q"
              placeholder="Search"
            />
            <button class="searchButton" href="{% url 'experiences' %}">
              <i class="material-icons"> search </i>
            </button>
          </div>
        </form>
        <br />

        <br />
        <hr />

        <h2 style="color: orange">Use Custom Filters</h2>
        <form action="{% url 'experiences' %}" method="POST">
          {% csrf_token %}

          <h3>Companies</h3>
          <br />

          <div class="box" style="width: 200px">
            <select name="company">
              <option value="All">All</option>
              {% for company in companies%}

              <option value="{{company}}">{{company}}</option>
              {% endfor %}
            </select>
          </div>

          <h3>Posts</h3>
          <br />

          <div class="box" style="width: 200px">
            <select name="post">
              <option value="All">All</option>
              {% for post in posts %}
              <option value="{{post}}">{{post}}</option>
              {% endfor %}
            </select>
          </div>

          <h3>Duration</h3>
          <br />
          <div class="box" style="width: 200px">
            <select name="duration">
              <option value="All">All</option>
              {% for duration in durations %}
             
              <option value="{{duration}}">{{duration}}</option>
           
              {% endfor %}
            </select>
          </div>

          <br />

          <input type="submit" value="Submit Filters" />
        </form>
      </div>

      <div class="main">
        &nbsp &nbsp
        <a href="{% url 'create-experience' %}"
          ><button class="button-5" role="button">
            Post Experience
            <svg
              xmlns="http://www.w3.org/2000/svg"
              width="16"
              height="16"
              fill="currentColor"
              class="bi bi-pencil-square"
              viewBox="0 0 16 16"
            >
              <path
                d="M15.502 1.94a.5.5 0 0 1 0 .706L14.459 3.69l-2-2L13.502.646a.5.5 0 0 1 .707 0l1.293 1.293zm-1.75 2.456-2-2L4.939 9.21a.5.5 0 0 0-.121.196l-.805 2.414a.25.25 0 0 0 .316.316l2.414-.805a.5.5 0 0 0 .196-.12l6.813-6.814z"
              />
              <path
                fill-rule="evenodd"
                d="M1 13.5A1.5 1.5 0 0 0 2.5 15h11a1.5 1.5 0 0 0 1.5-1.5v-6a.5.5 0 0 0-1 0v6a.5.5 0 0 1-.5.5h-11a.5.5 0 0 1-.5-.5v-11a.5.5 0 0 1 .5-.5H9a.5.5 0 0 0 0-1H2.5A1.5 1.5 0 0 0 1 2.5v11z"
              />
            </svg>
          </button>
        </a>
        {% comment %} <span class="Internship">
          <a href=""> <button>Internship</button> </a>
        </span>
        <span class="Full-Time">
          <a href=""> <button>Full Time</button> </a>
        </span> {% endcomment %}

        {% for experience in experiences %}

        <div class="experience-card">
          <div class="content">
            <h4>
              <a href="{% url 'experienceDetail' experience.id %}"
                ><strong>{{experience.company}} {{experience.post}}</strong></a
              >
              #{{experience.id}}
            </h4>
            <h4>
              {{experience.post}}/<span class="post" style="color: red"
                >{{experience.duration}}</span
              >
            </h4>
            <h5>
              Added by: {{experience.user.get_full_name}} &nbsp &nbsp &nbsp
              Added on:
              <svg
                xmlns="http://www.w3.org/2000/svg"
                width="16"
                height="16"
                fill="currentColor"
                class="bi bi-calendar-event"
                viewBox="0 0 16 16"
              >
                <path
                  d="M11 6.5a.5.5 0 0 1 .5-.5h1a.5.5 0 0 1 .5.5v1a.5.5 0 0 1-.5.5h-1a.5.5 0 0 1-.5-.5v-1z"
                />
                <path
                  d="M3.5 0a.5.5 0 0 1 .5.5V1h8V.5a.5.5 0 0 1 1 0V1h1a2 2 0 0 1 2 2v11a2 2 0 0 1-2 2H2a2 2 0 0 1-2-2V3a2 2 0 0 1 2-2h1V.5a.5.5 0 0 1 .5-.5zM1 4v10a1 1 0 0 0 1 1h12a1 1 0 0 0 1-1V4H1z"
                />
              </svg>
              {{experience.date_added}}
            </h5>
          </div>
        </div>
        {% endfor %}
      </div>
    </div>
  </body>
</html>
